name: Build Stats

on:
  push:
  workflow_dispatch:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: actions/cache@v2
      name: Configure pip caching
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Install Python dependencies
      run: |
        python -m pip install -r requirements.txt
    - name: Update README
      env:
        MTE90_TOKEN: ${{ secrets.MTE90_TOKEN }}
      run: |-
        python index.py
    - name: Commit and push if README changed
      run: |-
        git diff
        git config --global user.email "extstorestats-bot@example.com"
        git config --global user.name "ExtStoreStats-bot"
        git diff --quiet || (git add ./data*.json && git commit -m "Updated stats")
        git push
